//- <head> data
-var pageTitle = "Oikik Hosting Ltd."
-var mainCss = "style-min/main.min.css"	//- minified css file

-var mainJS0 = "../src/js/1.jquery-3.1.1.min.js"
-var mainJS1 = "../src/js/2.jquery-migrate-3.0.0.min.js"
-var mainJS2 = "../src/js/3.jquery.bootstrap.min.js"
-var mainJS3 = "../src/js/4.jquery.fractionslider.min.js"
//-var mainJS4 = "../src/js/5.jquery.animateSlider.js"
-var mainJS5 = "../src/js/main.js"
-var mainJS = "scripts/scripts.min.js"	//- main javascript

-var googleFont = '//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Ubuntu:400,700'

-var logoUrl = "img/logo/logo-1.png"




//- banner data
-var bannerMainText = "Your Ultimate Hight Performance SSD server"
-var bannerSubHeading1 = ' Web Hosting made easy'
-var bannerSubHeadingHighlighted = ''
-var bannerSubHeading3 = ''
-var promotion1 = "Hosting Plan"
-var promotion2 = " starting at  "
-var promotionStrikedCost = "৳ 1000"
-var promotionOfferedCost = "  ৳ 700"
-
	var offer_lists = [
		"99.99% Uptime",
		"24/7/365 Support",
		"Free Website Migration",
		"Plesk for easier control",
		"SSH access"
	]



//- plans data
-var planType = ["", "Starter", "Pro", "Business"]    //-used blank in first place, because there's no heading for description
-
	var planData = [
		["Disk Space", "3 GB", "8 GB", "15 GB"],
		["Dedicated RAM", "1 GB", "2 GB", "4 GB"],
		["Domains", "2", "5", "10"],
		["Sub-Domains", "4", "10", "Unlimited"],
		["MySQL & PostgreSQL", "10", "Unlimited", "Unlimited"],
		["Email Accounts", "Unlimited", "Unlimited", "Unlimited"],
		["Plesk", true, true, true],
		["SSH Access", false, true, true],
		["Backup", true, true, true],
		["Spam Filter", true, true, true],
		["Malware Protection", true, true, true],
		["DDOS Protection", true, true, true],
		["Phone Support", true, true, true],
	]

mixin PlanMarking(_param)
	if(!_param)
		i.fa.fa-warning
	else if(_param === true)
		i.fa-adjust
	else
		span= _param

mixin PlanTitle (_iteration)
	if (_iteration != 0)
		.plan-chart
			-for (_j=0; _j<3; _j++)
				span
		h3.text-uppercase= planType[_iteration]


//- customer's data
//-var customerImgUrlPrefix = "https://blog.addthiscdn.com/wp-content/uploads/2016/03/01125908/"
//-
	var customers = [
		{
			"name" : "john snow",
			"imgUrl" :  customerImgUrlPrefix + "200-200-pixels.png",
			"msg" : "sdfgwe wgrwn3r ch2h23eg2hb34g23g4fvbnsadvashda"
		},
		{
			"name" : "sherlock holmes",
			"imgUrl" : customerImgUrlPrefix + "200-200-pixels.png",
			"msg" : "jweh rwegrnjwehrbjsd f  kjh vmsjhdfda"
		},
		{
			"name" : "john snow",
			"imgUrl" : customerImgUrlPrefix + "200-200-pixels.png",
			"msg" : "mhewqui hkjnbdnsfwek,ruiasdm, iugjqwbenmbh"
		}
	]


//- migration data
-var mainImgUrl = "img/migration/full-migration.png"
-var imgUrlPrefix = "img/migration/"
-
	var migrationImageData = [
		{"imgUrl" : imgUrlPrefix + "folder.png", 		"title" : "Site Files"},
		{"imgUrl" : imgUrlPrefix + "db.png",			"title" : "Databases"},
		{"imgUrl" : imgUrlPrefix + "dns.png",			"title" : "DNS"},
		{"imgUrl" : imgUrlPrefix + "hosting.png",		"title" : "From any hosting"},
		{"imgUrl" : imgUrlPrefix + "email.png",			"title" : "Email (*)"}
	]




//- service data
-var serviceImgUrlPrefix = "img/service/"
-
	var serviceData = [
		{
		"imgUrl" : serviceImgUrlPrefix + "auto-backup.png",
			"content" : "Plesk backup system provides easier process for a quick backup of your valuable files"
		},{
			"imgUrl" : serviceImgUrlPrefix + "cpanel.png",
			"content" : "Spend less time spent on tedious admin and manual server tasks"
		},{
			"imgUrl" : serviceImgUrlPrefix + "database.png",
			"content" : "Database Performance is superior, light weight and faster with caching"
		},{
			"imgUrl" : serviceImgUrlPrefix + "domains.png",
			"content" : "Manage your domains DNS settings from plesk with easier tools"
		},{
			"imgUrl" : serviceImgUrlPrefix + "emails.png",
			"content" : "Unlimited email solution for your needs. Spamming is not allowed."
		},{
			"imgUrl" : serviceImgUrlPrefix + "secured.png",
			"content" : "Viruses and Malware at the host level is highly secured"
		},{
			"imgUrl" : serviceImgUrlPrefix + "server.png",
			"content" : "Server is highly optimized and caching enabled for high performance"
		},{
			"imgUrl" : serviceImgUrlPrefix + "site-transfer.png",
			"content" : "Free migration of your website to oikik from any hosting provider"
		},{
			"imgUrl" : serviceImgUrlPrefix + "ssd-speed.png",
			"content" : "Fast content delivery and improved performance which is 20x faster than standard hard drives"
		},{
			"imgUrl" : serviceImgUrlPrefix + "ssh-access.png",
			"content" : "SSH access is provided for admin tasks and security management"
		},{
			"imgUrl" : serviceImgUrlPrefix + "support.png",
			"content" : "We are ready to provide 24/7 support at your service. So feel safe and proteced"
		},{
			"imgUrl" : serviceImgUrlPrefix + "uptime.png",
			"content" : "Our servers ensures a guaranteed 99.99% uptime"
		},]


//- Detailed plan
-
	var facilities = [
		{1: "10", 2: "20", 3: "30"},
		{1: "xaxaa", 2: "asdhqwge", 3: "3aeiqwetg0"},
		{1: "qkcjvhs", 2: "jkfagvhsad", 3: "yo yo"},
		{1: "kjsadghasd", 2: "qweewegs", 3: "qwezx"},
		{1: "10 asda", 2: "20 q1", 3: "30 cv q"},
		{1: "1000", 2: "2033", 3: "30"},
		{1: "1xxx0", 2: "2www0", 3: "3qweqwe0"}
	]



//- footer social links (usage in font awesome)
-
	var social_links = [
		"facebook",
		"twitter",
		"skype"
	]


-
	var features_data = [
		["wordpress" , "Hosting optimized for WordPress performance."],
		["joomla!" , "An extensive CMS for building websites or powerful web applications"],
		["magento" , "Create, promote and manage an engaging eCommerce website"],
		["php" , "Latest PHP versions to choose"],
		["phpmyadmin" , "Fast and easier database management"],
		["email" , "Unlimited and Quicker Plesk Email"],
		["ecommerce" , "Use eCommerce with reliability"],
		["mysql" , "Faster Mysql Database Performance"]
	]


