#theme.transition
	.theme-wrapper
		button.btn.transition.change-theme
			img(src="img/theme-icon.png")
		.all-colors
			button.btn.orange(data-color="orange")
			button.btn.yellow(data-color="yellow")
			button.btn.green(data-color="green")
			button.btn.mint(data-color="mint")
			button.btn.aqua(data-color="aqua")
			button.btn.default-color(data-color="") X