doctype html

html(lang="en")
	include templates/__head

	+ChangeMenuHref()

	body(id= "#{mainColor}")

		include templates/_header

		include templates/sections/_contact

		include templates/_footer