//include templates/__doctype_and_variables
doctype html

html(lang="en")
	include templates/__head


	body(id= "#{mainColor}")

		include templates/_header

		include templates/extras/_call_us

		//include templates

		include templates/_footer