//include templates/__doctype_and_variables
doctype html

html(lang="en")
	include templates/__head


	body(id= "#{mainColor}")

		include templates/_header

		include templates/extras/_theme
		include templates/extras/_logo-changer
		include templates/extras/_call_us


		//include templates/sections/_banner
		include templates/sections/_banner-static
		include templates/sections/_pricing_small
		include templates/sections/_feature
		include templates/sections/_service
		include templates/sections/_detailed_plan_table
		include templates/sections/_site_migration
		//include templates/sections/_review

		include templates/_footer