#banner
	.container-fluid
		.row
			.slider
				.slide
					h1(data-position="100,100",data-step="0",data-in="left",data-out="right") Dedicated server with free Memory card
					h3(data-position="180,30",data-in="bottom",data-out="top",data-step="1",data-delay="500") Get up to 56% OFF WordPress Hosting
					ul(data-position="0,300",data-in="top",data-step="2",data-delay="3500")
						-each offer in offer_lists
							li= offer
				.slide
					h1(data-position="0,300",data-in="left",data-step="0",data-delay="500") Dedicated server with free Memory card
					h3(data-position="180,30",data-in="bottom",data-step="1",data-delay="500") Get up to 56% OFF WordPress Hosting
					ul(data-position="180,30",data-in="bottom",data-step="2",data-delay="500")
						-each offer in offer_lists
							li= offer
				.slide
					h1.xaxa2 Dedicated server with free Memory card
					h3#test2 Get up to 56% OFF WordPress Hosting
					ul.offers2
						-each offer in offer_lists
							li= offer