section#detailed-plan.mt-50
	.container
		.heading.text-center
			h1.text-uppercase choose a plan
		.row.text-center.plan-table-parent
			table.table.table-striped.table-bordered
				tr.row
					-for (i=0; i<4; i++)
						th.text-center
							+PlanTitle(i)
				each rowValues in planData
					tr.row
						each val in rowValues
							td
								+PlanMarking(val)
				tr.row
					-for (k=0; k<4; k++)
						if (k == 0)
							td
						else
							td
								a(href=topMenu[2]['url'], class="#{topMenu[2]['class']} btn btn-order text-uppercase") call us