section#features
	.container
		.row
			.heading.text-center
				h1.text-uppercase features
				p Essential functionality covered by a single service
		.row
			.content
				-for(i=0; i<8; i++)
					.col-xs-6.col-md-3
						img
						p something here