section#features
	.container
		.heading.text-center
			.row
				h1.text-uppercase features
				p Essential functionality covered by a single service
		.content
			.row.text-center
				each feat in features_data
					.col-xs-6.col-md-3
						.each-feature
							img(src="img/" + feat[0] + ".png")
							h3.text-capitalize= feat[0]
							p= feat[1]