section#small-pricing
	//- small pricing doesn't mean low costing plan/pricing, it's the size !!
	.container
		.row.text-center
			each badge_txt in [["","launch"], ["Top Seller","power"], ["Best value","pro"]]
				.col-sm-4.each-small-plan-parent
					.each-small-pricing
						.small-plan-badge.text-center
							span= badge_txt[0]
						.small-plan-name
							.plan-chart
								-for (j=0; j<3; j++)
									span
							h3.text-uppercase= badge_txt[1]
						p.small-plan-description shared hosting for all skill levels
						.small-plan-price
							sup $
							|30
							sup 99
							sub /mo.
						.small-plan-offer
							strike
								span $10.99$/mo
							span.text-uppercase 90% off!
						a.btn.btn-order.text-uppercase order now