section#service.dark-bg
	.container
		.heading.text-center
			h1.text-uppercase why choose us
			p A reliable, Fast and Efficient Niche Service
		.row.mt-50.all-services
			each value in serviceData
				.col-md-3
						.row
							.col-xs-4
								.service-img-wrapper
									img(src= value['imgUrl'])
							.col-xs-8= value['content']