section#service.dark-bg.mt-50
	.container
		.heading.text-center
			h1.text-uppercase why choose us
			p Shared Hosting That's Better Than Our Competition
		.row.mt-50.all-services
			each value in serviceData
				.col-md-6
						.row
							.col-xs-4
								.service-img-wrapper
									img(src= value['imgUrl'])
							.col-xs-8= value['content']