section#site-migration.mt-50
	.container
		.heading.text-center
			h1.text-uppercase Hassle-Free Website Migration
			p Enjoy the peace of mind of our expert staff handling your migration needs
		.row.mt-50
			.hidden-xs.hidden-sm.col-md-2.col-md-offset-1.text-right
				.migration-map-img
					img(src= mainImgUrl)
			.col-md-4
				.migration-details
					h4.txt-color What We Migrate For You
					ul.nav
						each value in migrationImageData
							li
								img(src= value['imgUrl'])
								span= value['title']
			.col-md-5
				.how-migrate
					h4.txt-color How it works
					ul.how-migrate-lists.nav
						li 1.&nbsp; Purchase a Hosting Plan
						li 2.&nbsp; Submit the Transfer Request Form
						li 3.&nbsp; Wait for Completion
				.start-migrate
					h4.txt-color.text-capitalize get started
					a.btn.btn-primary(href="#") choose a plan
				.question-about-migrate
					h4.txt-color Questions?
					a.btn.btn-primary(href="#") call us
		.text-center
			p.email-migration
				sup *
				|Email accounts only included with cPanel migrations. Non-cPanel migrations may require email to be manually migrated.
