section#site-migration.mt-50
	.container
		.heading.text-center
			h1.text-uppercase Smooth Website Migration
			p Relax and let us take care of your migration work
		.row.mt-50
			.hidden-xs.hidden-sm.col-md-2.col-md-offset-1.text-right
				.migration-map-img
					img(src= mainImgUrl)
			.col-md-4
				.migration-details
					h4.txt-color Migration Coverings:
					ul.nav
						each value in migrationImageData
							li
								img(src= value['imgUrl'])
								span= value['title']
			.col-md-5
				.how-migrate
					h4.txt-color Migration Process
					ul.how-migrate-lists.nav
						li 1.&nbsp; Purchase a Hosting Plan
						li 2.&nbsp; Submit the Transfer Request Form
						li 3.&nbsp; Wait for Completion
				.start-migrate
					h4.txt-color.text-capitalize get started
					a.btn.btn-primary(href="#detailed-plan") choose a plan
				.question-about-migrate
					h4.txt-color Questions?
					a(href=topMenu[2]['url'], class="#{topMenu[2]['class']} btn btn-primary") call us
		.text-center
			p.email-migration
				sup *
				|Email accounts only included with cPanel migrations. Non-cPanel migrations may require email to be manually migrated.
