$white: #fff
$black: #000
$light-gray: #eff1f3
$dark-gray: #aab2bd
$darker-gray: #656d78
$darkest-gray: #434a54

$orange-light: #fc6e51
$orange-dark: #ba2e10
$orange-based-1: #37829E
$orange-based-2: #FCAA51
$orange-based-btn: #3BB769

$yellow-light: #ffc754
$yellow-dark: #bf8611
$yellow-based-1: #4562AB
$yellow-based-2: #ffe354
$yellow-based-btn: #6147AF

$green-light: #a0d468
$green-dark: #5c9221
$green-based-1: #ea8e73
$green-based-2: #51a679
$green-based-btn: #914D9A

$mint-light: #48cfad
$mint-dark: #05aa81
$mint-based-1: #ffc059
$mint-based-2: #548AD0
$mint-based-btn: #ff9759

$aqua-light: #30A8CC
$aqua-dark: #047393
$aqua-based-1: #ffc335
$aqua-based-2: #415dd4
$aqua-based-btn: #ff9b35