@import "_colors"


.white-bg
	background-color: $white
	
.default-color
	background: $white !important
	color: $darkest-gray !important


.gray-bg
	background-color: $light-gray

.small-plan-description:before
	background-color: $dark-gray
	
li.anim-slide h1
	text-shadow: 1px 1px $light-gray
	
	
.dark-bg
	background-color: $light-gray
	padding-top: 20px
	padding-bottom: 20px
	
	
=theme($_primary, $_secondary, $_base-1, $_base-2, $_btn)
	a
		color: $_primary
	a:hover
		color: $_btn
	.btn
		background: $_btn
		color: $white
	.btn:hover
		color: $light-gray
	.top-most-menu
		a
			color: $darkest-gray
		a:hover
			color: $_primary
	.txt-color
		color: $_primary //* #010100
	.plan-chart
		span
			background-color: $_primary
	.navbar-default
		background-color: $_primary
	#main-menu
		.navbar-nav
			li>a
				color: $white
				border-bottom: 3px solid transparent
				//background: $_secondary / 1.03
				//box-shadow: inset -1px -2px 5px 0 $darkest-gray
				//border: 2px solid $_secondary
			li.active>a, li>a:hover, li>a:active
				background: transparent
				color: $white
				border-color: $_btn
			li.active>a, li>a:hover
				border-color: $darker-gray
	.each-small-pricing
		border: 1px solid $dark-gray
		background-color: $light-gray
	#small-pricing
		.small-plan-badge
			color: $white
		.col-md-4:nth-child(2)
			.each-small-pricing
				border: 2px solid $darkest-gray
			.small-plan-badge
				background-color: $_secondary
			.small-plan-badge:before, .small-plan-badge:after
				border-bottom-color: $_secondary
			.small-plan-price
				color: $_secondary
			.btn
				background-color: $_primary
				border: 2px solid transparent
			.btn:hover
				background-color: $_btn
				border-color: $darkest-gray
		.col-md-4:nth-child(3)
			.small-plan-badge
				background-color: $_base-1
			.small-plan-badge:before, .small-plan-badge:after
				border-bottom-color: $_base-1
		.small-plan-price
			color: $_base-1
	footer
		background-color: $darkest-gray
		color: $white
		ul.nav
			li>a
				background-color: $_base-1
				color: $white
			li>a:hover
				background-color: $light-gray
				color: $_base-1



		

@each $val in $colors-list
	$color-name: nth($val, 1)
	$colors: nth($val, 2)
	##{$color-name}
		+theme(nth($colors, 1), nth($colors, 2), nth($colors, 3), nth($colors, 4), nth($colors, 5))
		
/*
	#orange
		+theme($orange-light, $orange-dark, $orange-based-1, $orange-based-2, $orange-based-btn)
		
	#yellow
		+theme($yellow-light, $yellow-dark, $yellow-based-1, $yellow-based-2, $yellow-based-btn)
		
	#green
		+theme($green-light, $green-dark, $green-based-1, $green-based-2, $green-based-btn)
		
	#mint
		+theme($mint-light, $mint-dark, $mint-based-1, $mint-based-2, $mint-based-btn)
		
	#aqua
		+theme($aqua-light, $aqua-dark, $aqua-based-1, $aqua-based-2, $aqua-based-btn)