$top-most-nav-height: 70px

.navbar
	margin-bottom: 0
	border-radius: 0
	border: none
.dropdown-menu
	z-index: 1015

.top-most-menu
	.logo
		padding: 6px 0
	.navbar-brand
		padding: 5px 15px
		img
			height: 100%
	.navbar-right
		padding-top: 18px
		font-size: 17px
		>li
			float: left

#main-menu
	.navbar-nav
		li>a
			margin: 9px 8px
			padding: 9px 5px
			
			
@media (min-width: 768px)
	.top-most-menu
		.navbar-brand
			height: $top-most-nav-height
		.navbar-nav>li>a
			padding-top: ($top-most-nav-height - 40)/2
			padding-bottom: ($top-most-nav-height - 40)/2
		.dropdown-menu
			min-width: 20px
	.navbar-default
		.navbar-nav
			float: none
			margin: 0 auto
			display: inline-block
	#main-menu
		height: 50px!important
		
@media (max-width: 767px)
	.top-most-menu
		.navbar-right
			padding-top: 0
			display: flex
			li
				flex: 1
				&:nth-child(3)
					position: absolute !important
					top: 15px
					right: 0
	#main-menu
		.navbar-nav
			li>a
				display: inline-block
	#banner
		display: none