#site-migration
	.migration-map-img
		img
			height: 270px
	.migration-details
		.nav>li
			padding: 5px 5px
			img
				width: 35px
				padding-right: 5px
	.email-migration
		margin-top: 20px
		font-size: 12px
		font-style: italic
		
	@media (max-width: 767px)
		.row
			div:last-child
				text-align: center
		.how-migrate, .start-migrate, .question-about-migrate
			margin-top: 30px